openapi: '3.0.0'
info:
  version: 1.0.0
  title: UXPin API
  license:
    name: MIT
servers:
  - url: https://api.uxpin.com/v1
paths:
  /projects:
    get:
      summary: List all projects
      operationId: listProjects
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: A paged array of projects
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Projects'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a new project
      operationId: createProject
      responses:
        201:
          description: Project creation successful
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /projects/{projectId}:
    get:
      summary: Retrieve details of a specific project
      operationId: getProjectById
      parameters:
        - name: projectId
          in: path
          required: true
          description: The unique identifier of the project to retrieve
          schema:
            type: string
      responses:
        200:
          description: Detailed information about the requested project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Projects'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      summary: Update an existing project
      operationId: updateProject
      responses:
        200:
          description: Project update completed successfully
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /designs:
    get:
      summary: List all designs in the system
      operationId: listDesigns
      responses:
        200:
          description: A comprehensive list of all available designs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Designs'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Project:
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        description:
          type: string
    Projects:
      type: array
      items:
        $ref: '#/components/schemas/Project'
    Design:
      required:
        - id
        - title
      properties:
        id:
          type: integer
          format: int64
        title:
          type: string
        projectId:
          type: integer
          format: int64
    Designs:
      type: array
      items:
        $ref: '#/components/schemas/Design'
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string